section.club
  .club-wrapper
    h2.title Про клуб
    p 
    | Главная ценность успешного предпринимателя&nbsp;&mdash; сильное окружение.
    | Наше закрытое деловое сообщество&nbsp;&mdash; это место, где находят развитие 
    | и&nbsp;энергию, единомышленников, контакты и&nbsp;связи, идеи, инвесторов и&nbsp;партнеров.
    | Форумы, ивенты и&nbsp;клубы, совместные поездки зарубеж, нетворкинги 
    | и&nbsp;мастермайнды&nbsp;&mdash; мы&nbsp;организуем высококлассный досуг предпринимателям,
    | которым важно заряжаться, совершенствоваться, расти.
    button(type='button') Вступить
