section.description
  .description-wrapper
    h2.visually-hidden Описание платформы
    .description__text
      h3 &laquo;Blackoutlab&raquo;&nbsp;&mdash; сильная команда, собравшая эффективные инструменты, многолетнюю экспертизу и&nbsp;профессионалов всех профилей в&nbsp;едином пространстве.
      p Наша миссия&nbsp;&mdash; качественно, комплексно и&nbsp;доступно помогать начинающим предпринимателям и&nbsp;малому бизнесу в&nbsp;росте, масштабировании и&nbsp;выходе на&nbsp;новый уровень и&nbsp;обороты.
    .description__buttons
      button(type="button") Заказать расчёт цены
      button(type="button") 
        a(href="#") Наши программы
    img(src="img/b-pyramid.svg", atl="Логотип Blackout", width="643")