header
  .header__wrapper
    h1.visually-hidden Blackout Lab - лаборатория Вашего бизнеса
    ul.header__user
      li.header__usericon
      li.header__username
    ul.header__contacts
      li.header__mail
        a(href='mailto:email@email.com&body=привет?subject=вопрос') email@email.com
      li.header__phone
        a(href='tel:+78000000000') 8#{'('}800#{')'}000-00-00
        small Ежедневно с 9:00 до 20:00
