section.invest
  .invest-wrapper
    h2.title Blackoutlab инвестиции
    p
    | С&nbsp;нами инициативные предприниматели находят финансирование для проектов, 
    | выигрывают государственные гранты и&nbsp;тендеры, а&nbsp;крупные инвесторы 
    | значительно преумножают средства, вкладываясь в&nbsp;самые перспективные стартапы страны.
    a(href='#') Узнать подробнее про программу инвестиций
