- const REASONS = [{ number: '01', text: 'ты начинающий предприниматель и не знаешь, как пробить финансовый потолок, повысить чеки и масштабироваться' }, { number: '02', text: 'у тебя есть желание создать свой продукт, но нет опыта, знаний и экпертности в бизнесе' }, { number: '03', text: 'ты уже предприниматель, но чувствуешь, что не хватает единомышленников, мотивации, нетворкинга, связей' }]

section.whyus
  .whyus-wrapper
    h2.title Тебе стоит обратиться к нам и нашим специалистам, если:
    ul.whyus__list
      each reason in REASONS
        li.whyus__item 
          h3=reason.number
          p=reason.text
    .whyus__buttons
      a(href='#') Записаться
      button(type: "button") Свяжитесь со мной
